$primary-color: rgba(200, 200, 200, 0.8);
$shadow-color: rgba(0, 0, 0, 0.35);
$button-background: cornflowerblue;
$cancel-button-background: crimson;

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: $shadow-color 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;

    .title {
      display: inline-block;
      text-align: center;
      margin-top: 10px;
    }

    .titleCloseBtn {
      display: flex;
      justify-content: flex-end;

      button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
      }
    }

    .body {
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      text-align: center;
    }

    .footer {
      flex: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 150px;
        height: 45px;
        margin: 10px;
        border: none;
        background-color: $button-background;
        color: white;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;

        &:last-child {
          background-color: $cancel-button-background;
        }
      }
    }
  }
}
